@define-color documents_emblem_bg #3465a4;
@define-color documents_collection_bg #d3d7cf;
@define-color gedit_not_found_bg rgb (237, 54, 54);
@define-color gedit_not_found_fg white;

/****************
 * Applications *
 ****************/
/* used by gnome-font-viewer and sushi */

SushiFontWidget {
    padding: 6px 12px;
}

/* gnome-terminal */
VteTerminal {
    background-color: @theme_base_color;
    color: @theme_fg_color;
}

TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

/* nautilus */

@import url("gnome-applications/gtk-nautilus.css");

/* gedit */

@import url("gnome-applications/gtk-gedit.css");

/* gnome-documents */

@import url("gnome-applications/gtk-documents.css");

/* baobab */

@import url("gnome-applications/gtk-baobab.css");

/* epiphany */

@import url("gnome-applications/gtk-epiphany.css");

/* Gnome Contacts */

@import url("gnome-applications/gtk-contacts.css");

/* gnome-photos */

.photos-icon-bg {
  icon-shadow: 0 1px #000000;
}

/* Gucharmap */
GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
 background-color: @theme_selected_bg_color;
 color: @theme_selected_fg_color;
}

/* evince */

@import url("gnome-applications/gtk-evince.css");

/* gcalctool */

MathWindow.background > GtkBox.vertical > GtkBox.vertical > GtkScrolledWindow {
    padding: 4px;
    background-color: @theme_base_color;
    border-radius: 3px;
}

MathWindow.background > GtkBox.vertical > GtkBox.vertical > GtkScrolledWindow:backdrop {
    padding: 4px;
    background-color:  @theme_unfocused_base_color;
    border-radius: 3px;
}
