/************
 **TITLEBAR**
 ************/
.titlebar,
.header-bar {
	padding:0;
	color:@theme_text_color;
	background-color:@theme_bg_color;

}

.titlebar .right.horizontal {/*min-max-close button container*/

}

.titlebar .title,
.header-bar .title{
	color:@theme_text_title_color;
	font: Bold 11;
}

.titlebar .subtitle,
.header-bar .subtitle {
	font: 9;
}

.titlebar:backdrop,
.header-bar:backdrop {
	text-shadow: none;
	background-image: none;
	/*background-color: @wm_bg_b;*/
}

.titlebar .titlebutton,
.header-bar .titlebutton {
	color: @wm_title;
	padding: 0px 10px 0px 10px;
	/*background-color:@button_color;*/


}

.titlebar .titlebutton:hover {
	/*background-color:@button_hover_color;*/
}

.titlebar .titlebutton:active {

	/*background-color: @button_active_color;*/
	border-bottom-color: @button_marker_active_color;
}

.titlebar .right .titlebutton:first-child {
/*    border-left: 1px solid @menu_separator; */
}

.titlebar .right .titlebutton:last-child {/*Close button*/

}
.titlebar .right .titlebutton:last-child:hover {
	background-color:red;
}

.titlebar .left .titlebutton:last-child {
/*    border-right: 1px solid @menu_separator; */
}

.titlebar .left .titlebutton:first-child {

}

.titlebar .titlebutton:backdrop {
	background-image: none;
	color: @wm_unfocused_title;
	icon-shadow: none;
}

/**************
 **HEADER-BAR**
 **************/

.header-bar .button.text-button {
	/*padding: 2px 16px;*/
}

.header-bar .button.image-button {
	/*padding: auto;*/
}




