GtkSwitch {
	font: bold condensed 10;
}

.scale.progressbar,
GtkSwitch.trough:active {
	color: @switch_trough_active_color;
}

GtkSwitch.trough:insensitive {
	background-image: none;
	background-color: @insensitive_bg_color;
	color: mix(@insensitive_bg_color, @insensitive_fg_color, 0.5); /* FIXME */
}

GtkSwitch.trough:backdrop {
	color: @theme_unfocused_fg_color;
}

GtkSwitch.trough:active:backdrop {
	color: @theme_unfocused_bg_color;
}

GtkSwitch.trough:insensitive:backdrop {
	color: @unfocused_insensitive_borders;
}

GtkSwitch.slider {
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	border-color: mix (@borders, @theme_text_color, 0.4);

	box-shadow: inset 0 -1px alpha(white, 0.9), inset 0 1px @theme_base_color, inset 0 2px alpha(@borders, 0.15);

	padding: 2px 2px 3px 2px;

	background-image: url("assets/switch-slider-grip.svg"),
					  linear-gradient(to bottom,
									  @theme_base_color,
									  @switch_slider_color
									  );
	background-repeat: no-repeat;
	background-position: center;
}

.primary-toolbar GtkSwitch.slider {
	padding: 3px;
}

GtkSwitch.slider:insensitive {
	background-image: none;

	border-color: mix(@insensitive_bg_color, @insensitive_fg_color, 0.5);

	box-shadow: none;
}

GtkSwitch.slider:backdrop {
	background-color: @theme_unfocused_base_color;
	background-image: none;

	border-color: @unfocused_borders;

	box-shadow: none;

	color: @theme_unfocused_base_color;
}

GtkSwitch.slider:insensitive:backdrop {
	background-color: @theme_unfocused_bg_color;
	border-color: @unfocused_insensitive_borders;
}
