.spinbutton .button {
	color: @internal_element_color;
	padding: 2px 6px;
	border-width: 0;
	border-radius: 0;
	border-style: none;
	border-image: none;
	box-shadow: inset 1px 0 @inset_dark_color;
}

.spinbutton .button:backdrop {
	box-shadow: none;
}

.spinbutton .button,
.spinbutton .button:backdrop {
	background-color: transparent;
	background-image: none;
}

.spinbutton .button:insensitive {
	color: @internal_element_insensitive;
}

.spinbutton .button:insensitive:backdrop {
	color: mix(@internal_element_color, @theme_unfocused_base_color, 0.7);
}

.spinbutton .button:active,
.spinbutton .button:hover {
	color: @internal_element_prelight;
}

.spinbutton .button:first-child {
	border-radius: 2px 0 0 2px;
	box-shadow: none;
}

.spinbutton .button:last-child {
	border-radius: 0 2px 2px 0;
}

.spinbutton .button:dir(rtl) {
	box-shadow: inset -1px 0 @inset_dark_color;
}

/* Add back the glowy effect from the entry covered by the pushed button background*/
.spinbutton .button:active {
	box-shadow: inset 1px 0 @inset_dark_color,
				inset 0 1px alpha(@theme_selected_bg_color, 0.2),
				inset 0 -1px alpha(@theme_selected_bg_color, 0.2);
}

.spinbutton .button:first-child:active {
	box-shadow: inset 1px 1px alpha(@theme_selected_bg_color, 0.2),
				inset 0 -1px alpha(@theme_selected_bg_color, 0.2);
}

.spinbutton .button:last-child:active {
	box-shadow: inset 1px 0 @inset_dark_color,
				inset 0 1px alpha(@theme_selected_bg_color, 0.2),
				inset -1px -1px alpha(@theme_selected_bg_color, 0.2);
}


.spinbutton.vertical .button {
	padding: 4px;
	icon-shadow: 0 1px @button_text_shadow;
}

.spinbutton.vertical .button,
.spinbutton.vertical .button:hover {
	color: @theme_fg_color;
}

.spinbutton.vertical .button:insensitive {
	color: @insensitive_fg_color;
}

.spinbutton.vertical .button:backdrop {
	color: @theme_unfocused_fg_color;
	icon-shadow: none;
}

.spinbutton.vertical .button:backdrop:insensitive {
	color: @unfocused_insensitive_fg_color;
}

.spinbutton.vertical .button:active {
	color: @button_active_text;
	icon-shadow: 0 1px @button_active_text_shadow;
}

/* :insensitive:insensitive to override the dark overriden style for
   normal spinbutton buttons, yeah we lack !important */
.spinbutton.vertical .button:insensitive:insensitive {
	icon-shadow: none;
}

.spinbutton.vertical .button,
/* :active:active to override the dark overriden style for
   normal spinbutton buttons, yeah we lack !important */
.spinbutton.vertical .button:active:active {
	box-shadow: none;
}

.spinbutton.vertical .button:first-child {
	border-image-width: 3px 3px 0 3px;
	border-width: 1px 1px 0 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.spinbutton.vertical .button:last-child {
	border-image-width: 0 3px 4px 3px;
	border-width: 0 1px 2px 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.spinbutton.vertical.entry {
	border-image: none;
	border-color: @borders;
	border-width: 0 1px;
	border-style: solid;
	border-radius: 0;
	box-shadow: inset 0 2px @entry_inset,
				inset 0 3px alpha(@entry_inset, 0.4),
				inset 0 1px @borders,
				inset 0 -1px @borders;

	/* I'm using box-shadow as borders, so I need to compensate
	   with padding. Those two values need to be entry padding +1 */
	padding-top: 5px;
	padding-bottom: 5px;
}

.spinbutton.vertical.entry:insensitive {
	border-color: @insensitive_borders;
	box-shadow: inset 0 1px @insensitive_borders,
				inset 0 -1px @insensitive_borders;
}

.spinbutton.vertical.entry:focus {
	border-color: @theme_selected_bg_color;
	box-shadow: inset 1px 2px alpha(@theme_selected_bg_color, 0.1),
				inset 1px 3px alpha(@theme_selected_bg_color, 0.1),
				inset -1px -2px alpha(@theme_selected_bg_color, 0.2),
				inset 0 1px @theme_selected_bg_color,
				inset 0 -1px @theme_selected_bg_color;
}

.spinbutton.vertical.entry:backdrop {
	/* Adding back box-shadow for borders */
	border-color: @unfocused_borders;
	box-shadow: inset 0 1px @unfocused_borders,
				inset 0 -1px @unfocused_borders;
}

.spinbutton.vertical.entry:insensitive:backdrop {
	/* Adding back box-shadow for borders */
	box-shadow: inset 0 1px @unfocused_insensitive_borders,
				inset 0 -1px @unfocused_insensitive_borders;
}
