@define-color menu_text_color @theme_text_color;
@define-color menu_text_selected_color @theme_text_selected_color;
@define-color menu_bg_color @theme_bg_color;
@define-color menu_bg_selected_color @theme_bg_selected_color;
@define-color menu_fg_color @theme_fg_color;

.menu {
	background-color: @menu_bg_color;
	color: @menu_text_color;
	padding: 0;
	border-style: none;
}

.menu:hover{
	background-color: @menu_bg_selected_color;
}

.menu:insensitive{/*Insensitive means you cant interact with it*/
	background-color:yellow;
}

.menubar {
	border: none;
	-GtkWidget-window-dragging: true;
}

.menuitem {
	color: @menu_text_color;
	background-color: @menu_bg_color;
	padding:3px 8px;
	border-style:none;
	background-image:none;
	text-shadow:none;
	/*-GtkMenuItem-arrow-scaling: 0.4;*/
}

.menuitem:hover{
	color: @menu_text_selected_color;
	background: @menu_bg_selected_color;
}

.menuitem:insensitive {
	background-color: transparent;
}


.context-menu {/*No idea what this does*/
	font: initial;
}

/*.menu.button {
	background-image: none;
	background-color: @theme_base_color;
	color: @internal_element_color;

	border-image: none;
	border-style: none;
}


.menu.button:hover {
	background-image: none;
	background-color: @theme_base_color;
	color: @theme_text_color;

	border-image: none;
	border-style: none;
}

.menu.button:insensitive {
	background-color: @theme_base_color;
	color: lighter(@internal_element_color);

	border-image: none;
	border-style: none;
}*/

/* this controls the general appearance of the menubar at the top of most apps */


.menuitem *:insensitive {
	color: mix (@menu_fg_color, @menu_bg_color, 0.6);
}



.menuitem .accelerator {
	color: alpha (@menu_fg_color, 0.4);
}

.menuitem .accelerator:hover,
.menuitem .accelerator:active {
	color: alpha (@menu_fg_color, 0.3);
}

.menuitem .accelerator:insensitive {
	color: mix (@menu_fg_color, @menu_bg_color, 0.7);
}

GtkModelMenuItem GtkBox GtkImage {
	padding-right: 6px;
}

.menuitem.arrow {
	color: @menu_controls_color;
}

.menuitem.separator {
	color: @menu_separator;

	-GtkMenuItem-horizontal-padding: 0;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
	background-image: none;
	background-color: transparent;
}

.menuitem.check:active,
.menuitem.radio:active {
	background-color: transparent;
}

.menuitem.check:active {
	background-image: -gtk-scaled(url("assets/menuitem-checkbox-checked.png"),url("assets/menuitem-checkbox-checked@2.png"));
}

.menuitem.check:active:hover {
	background-image: url("assets/menuitem-checkbox-checked-selected.png");
}

.menuitem.check:active:insensitive {
	background-image: -gtk-scaled(url("assets/menuitem-checkbox-checked-insensitive.png"),url("assets/menuitem-checkbox-checked-insensitive@2.png"));
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
	background-image: -gtk-scaled(url("assets/menuitem-checkbox-mixed.png"),url("assets/menuitem-checkbox-mixed@2.png"));
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
	background-image: -gtk-scaled(url("assets/menuitem-checkbox-mixed-insensitive.png"),url("assets/menuitem-checkbox-mixed-insensitive@2.png"));
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
	background-image: url("assets/menuitem-checkbox-mixed-selected.png");
}

.menuitem.radio:active {
	background-image: -gtk-scaled(url("assets/menuitem-radio-checked.png"),url("assets/menuitem-radio-checked@2.png"));
}

.menuitem.radio:active:hover {
	background-image: url("assets/menuitem-radio-checked-selected.png");
}

.menuitem.radio:active:insensitive {
	background-image: -gtk-scaled(url("assets/menuitem-radio-checked-insensitive.png"),url("assets/menuitem-radio-checked-insensitive@2.png"));
}


/***************
 * Menu Button *
 ***************/
/*.toolbar GtkMenuButton.button:active,
.toolbar GtkMenuButton.button.raised:active,
GtkMenuButton.button:active,
.linked GtkMenuButton.button:active,
.toolbar .linked.raised GtkMenuButton.button:active,
.toolbar GtkMenuButton.button.linked.raised:active {
	background-image: none;
	background-color: @menu_bg_color;

	border-image: none;
	border-color: @menu_bg_color;
	border-radius: 4px 4px 0 0;
	color: @theme_text_color;
}*/

/*GtkMenuButton.button:active,
.linked GtkMenuButton.button:active,
.toolbar .linked.raised GtkMenuButton.button:active,
.toolbar GtkMenuButton.button.linked.raised:active {
	text-shadow: none;
	icon-shadow: none;
}*/

/*.linked GtkMenuButton.button:active:last-child,
.toolbar .linked.raised GtkMenuButton.button:active:last-child,
.toolbar GtkMenuButton.button.linked.raised:active:last-child {
	border-top-left-radius: 0;
}*/

/*.linked GtkMenuButton.button:active:first-child,
.toolbar .linked.raised GtkMenuButton.button:active:first-child,
.toolbar GtkMenuButton.button.linked.raised:active:first-child {
	border-top-right-radius: 0;
}*/

/*.button.menuitem.menubar:active {
	background-image: none;
	background-color: @menu_bg_color;

	border-radius: 4px 4px 0 0;
	border-image: none;
	border-width: 1px 1px 0 1px;
	border-color: @menu_bg_color;
	border-style: solid;
}*/

/*.button.menuitem.menubar:active,
GtkMenuButton.button:active,
.toolbar GtkMenuButton.button:active {
	color: @theme_text_color;
}*/
/*
GtkMenuButton .menu {
	text-shadow: none;
}*/
