@define-color scrollbar_trough @theme_bg_selected_color;
@define-color scrollbar_trough_insensitive @theme_bg_insensitive_color;

@define-color scrollbar_slider shade(@scrollbar_slider_prelight,0.5);
@define-color scrollbar_slider_prelight shade(@scrollbar_slider_active,0.5);
@define-color scrollbar_slider_active @theme_second_highlight_color;
@define-color scrollbar_slider_insensitive @theme_text_insensitive_color; /* FIXME should be transparent */

.scrollbar {
	-GtkRange-trough-border: 0;
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
	-GtkRange-slider-width: 13;
	-GtkScrollbar-min-slider-length: 42; /* minimum size for the slider. sadly can't be in '.slider' where it belongs */

	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-under-steppers: 1;
}

.scrollbars-junction, /* the small square between scrollbars!!! */
.scrollbar.trough {
	background-color: @scrollbar_trough;
}

.scrollbar.trough:insensitive {
	background-color: @scrollbar_trough_insensitive;
	border-style: hidden;
	border-width: 3px;
}

.scrollbar.slider {
	background-color: @scrollbar_slider;
	border-radius: 25px;
	border-style: solid;
	border-color: transparent;
	border-width: 3px;
}

.scrollbar.slider:hover {
	transition: 1000ms linear; /* doesn't work */
	background-color: @scrollbar_slider_prelight;
}

.scrollbar.slider:prelight:active {
	background-color: @scrollbar_slider_active;
}

.scrollbar.slider:insensitive {
	background-color: @scrollbar_slider_insensitive;
}

.scrollbar.slider.fine-tune:prelight:active {
	border-width: 5px;
}
/*
.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:active:hover,
.scrollbar.button:insensitive,
.scrollbar.button:hover:backdrop,
.scrollbar.button:active:hover:backdrop {
	border-style: none;
	border-image: none;
	border-radius: 0;
	background-image: none;
	background-color: transparent;
}

.scrollbar.button:active,
.scrollbar.button:active:hover {
	background-color: mix(@scrollbar_slider, @scrollbar_trough, 0.8);
}

.scrollbar.button.top:hover:backdrop,
.scrollbar.button.bottom:hover:backdrop,
.scrollbar.button.right:hover:backdrop,
.scrollbar.button.left:hover:backdrop {
	box-shadow: none;
}

.scrollbar.button {
	color: @scrollbar_slider;
}

.scrollbar.button:hover {
	color: @scrollbar_slider_prelight;
}

.scrollbar.button:insensitive {
	color: mix(@scrollbar_slider, @scrollbar_trough, 0.6);
}

.scrollbar.button:active {
	color: @scrollbar_slider_active;
}

.scrollbar.button:backdrop {
	color: @scrollbar_slider_unfocused;
}

.scrollbar.button:insensitive:backdrop {
	color: mix(@scrollbar_slider_unfocused, @scrollbar_trough_unfocused, 0.7);
}*/


