@define-color gtkswitch_bg_color @theme_bg_selected_color;

@define-color gtkswitch_marker_unchecked_color shade(@theme_base_color,2.0);
@define-color gtkswitch_marker_checked_color shade(@theme_highlight_color,1.0);



@define-color gtkswitch_slider_bg_color shade(@theme_base_color,1.5);
@define-color gtkswitch_slider_border_color @theme_base_color;

@define-color gtkswitch_text_insensitive_color shade(@button_text_unchecked_color,0.5);
@define-color gtkswitch_bg_insensitive_color shade(@button_background_unchecked_color,1.75);
@define-color gtkswitch_slider_bg_insensitive_color shade(@gtkswitch_slider_bg_color,0.5);

GtkSwitch {
	font: bold condensed 10;
}

GtkSwitch.trough{
	border-bottom-width:2px;
	border-bottom-style: solid;

	border-bottom-color:@gtkswitch_marker_unchecked_color;
	background-color: @gtkswitch_bg_color;
}

GtkSwitch.trough:active {
	border-bottom-color:@gtkswitch_marker_checked_color;
}

GtkSwitch.trough:insensitive {
	color:@gtkswitch_text_insensitive_color;
	background-color: @gtkswitch_bg_insensitive_color;
}

GtkSwitch.slider {
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	border-color: @gtkswitch_slider_border_color;

	padding: 2px;

	background-image: url("assets/switch-slider-grip.svg");
	background-color:@gtkswitch_slider_bg_color;
	background-repeat: no-repeat;
	background-position: center;
}

GtkSwitch.slider:insensitive {
	background-image: none;
	background-color: @gtkswitch_slider_bg_insensitive_color;
	border-color: @gtkswitch_slider_bg_insensitive_color;

}

